{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
echo deb https://downloads.plex.tv/repo/deb public main | sudo tee /etc/apt/sources.list.d/plexmediaserver.list
curl https://downloads.plex.tv/plex-keys/PlexSign.key | sudo apt-key add -

# Launcher
sudo add-apt-repository -r ppa:agornostal/ulauncher
sudo add-apt-repository ppa:agornostal/ulauncher

sudo apt-get update
sudo apt install -y \
	curl \
	direnv \
	git-lfs \
	jq \
	ripgrep \
	vim \
	vim-gtk \
	units \
	plexmediaserver\
	openssh-server\
	parcellite\
	autojump\
	ulauncher\
	zsh
sudo snap install go --classic
sudo snap install spotify
sudo ln -sfn /var/lib/snapd/desktop/applications/ /usr/share/applications/snap 

{{ end -}}
