#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
brew cask install visual-studio-code
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
defaults delete -g ApplePressAndHoldEnabled || true
{{ end -}}